/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-read-more-link-block {
	background: none;
	.dmg-read-more {
		border: 1px solid black;
		padding: 8px;
		color: black;
		font-size: 16px;

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
